:root {
    --S8-height:900px;
    --S8-newest-width: 50%;
    --S8-newest-height: 150px;
    --S9-pod-width: 25%;
    --S9-pod-height: 300px;
}

@media screen and (min-width:1279px) {
    .newest_image{
        width: 40%
    }
    
    .S8 .newest_container {
        width: 50%;
    }
    
    .S8 .newest_container {
        margin-left: 5%;
    }
    .pod_image
    {
        width: 90%;
    }
}

@media screen and (max-width:1279px) and (min-width:1024px) {
    .newest_image{
        width: 40%
    }
    
    .S8 .newest_container {
        width: 50%;
    }
    
    .S8 .newest_container {
        margin-left: 5%;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    :root {
        --S8-height: 600px;
        --S8-newest-height: 100px;
        --S9-pod-width: 50%;
        --S9-pod-height: 300px;    
    }
    .newest_image{
        width: 40%
    }
    
    .S8 .newest_container {
        width: 50%;
    }
    
    .S8 .newest_container {
        margin-left: 5%;
    }
}

@media screen and (max-width:767px) {
    :root {
        --S8-height: 1396px;
        --S8-newest-width: 100%;
        --S8-newest-height: 130px;
        --S9-height: 2080px;
        --S9-pod-height: 25%;
        --S9-pod-width: 100%;
    }
    .S8 .newest {
        flex-direction: row-reverse;
    }
    .newest_image{
        width: 180px;
    }
    
    .S8 .newest_container {
        width: calc(100% - 180px);
    }
}

/* Section 8 */
.S8 {
    width: var(--main-width);
    height: var(--S8-height);
    display: flex;
    flex-flow: row wrap;
    margin-top: var(--all-margin-top);
}

.S8:before {
    background-color: WhiteSmoke;
    content: "";
    left: -10vw;
    width: 110vw;
    height: var(--S8-height);
    position: absolute;
    z-index: -1;
}

.S8 .newest {
    display: flex;
    width: var(--S8-newest-width);
    height: var(--S8-newest-height);
}



/* Section 9 */
.S9 {
    width: var(--main-width);
    display: flex;
    flex-flow: row wrap;
}

.S9 .pod {
    width: var(--S9-pod-width);
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    height: 252px;
    width: 100%;
    background-color: rgb(205, 16, 16);
    justify-content: center;
}
.footer .container{
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_social{
    width: 210px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}